<style>
 
h2 {
    font-family: sans-serif;
   
}
p {
    font-family:monospace;
   color: black;
    
}
.ayu{
    background-color: white;
    
}
body{
    background-color: greenyellow;
    
}

}
</style>